.body-contact{
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

}
.card-contacr{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(44% - 25px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
#card-icon{
    font-size: 28px;
    background: #82e4d5;
    width: 60px;
    height: 60px;
    text-align: center; 
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;


}
.card-contacr:hover #card-icon{
    background: none;
    color: #81e4d6;
    transform: scale(1.6);
}
.card-contacr p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px ;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;

}
.card-contacr:hover p{
    max-height: 40px;
    opacity: 1;
}
.discord-btn{
    color: #81e4d6;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.footer{
    background-color: #81e4d6;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    color: #1b1b1b;
    font-size: 20px;
}
.socail-icon a:hover{
    color: #1b1b1b;
    transform: scale(1.1);

}
.Risha-span {
    color: #000014;
}
.Risha-Risha {
    color: #ffffff;
}
.socail-icon a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.7s ease;

}
.socail-icon a:hover{
    color: #1b1b1b;
    transform: scale(1.1);

}
nav{
    height: 80px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0px 100px;
}
nav .logo{
     font-size: 33px;
     color: #82e4d5;
     font-weight: 600;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s es;
}
nav ul li a:hover,
nav ul li a.active
{
    color: #81e6d6;
    background: #fff;

}
nav .menu-but i{

    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;

}
#click{
    display: none;
}
@media (max-width:940px) {
     nav .menu-but i{
        display: block;
     }
     #click:checked ~ .menu-but i::before{
        content: '\f00d';

     }

     nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul {
        left: 0%;

    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;  
        display: block;
    }
nav ul li a:hover,
nav ul li a.active
{
    color: cyan;
    background: none;

}

}
section{
    padding: 100px 200px;

}
@media screen  and (max-width:800px) {

    .contact-info{
        flex-direction: column;

    }
    
    .card-contacr{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;

    }
}